body {
  background-color: lavender;
  text-align: center;
}
div.move {
  font-size: 25px;
}
div.result {
  font-size: 25px;
}
div.title {
  font-size: 40px;
}
button {
  border-radius: 4px;
}
